body{
	font-family: 'Mochiy Pop P One', sans-serif;
}
div#descDialogBack{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(80,73,70,.5);
	z-index: 10;
}
div#descDialog{
	position: fixed;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -40%);
	height: 50%;
	width: 60%;
	background: azure;
	border-radius: 20px;
}
div.side{
	display: flex;
}
div.left{
	flex: 1;
}
div.right{
	width: 3em;
}
div.status{
	align-items: flex-end;
}
div.status>div{
	width: calc(100% / 3);
}
#memoBtn>tr>td,div.center{
	text-align: center;
}
#memoBtn,input{
	width: 100%;
}
#myNum{
	position: absolute;
	width: 50%;
	height: 30px;
	left: 50%;
	transform: translateX(-50%);
}
div.log table{
	border-collapse: collapse;
	border: solid 2px;
	width: 100%;
}
div.log thead,
div.log tbody{
	display: block;
}
div.log tbody{
	height: calc(7.5em + 4px);
	overflow-y: scroll;
}
div.log tr,
div.log th{
	display: block;
	width: 100%;
}
div.log th,
div.log td{
	padding: 0;
}
div.log th{
	font-weight: 400;
	border-bottom: 1px solid;
}
div.log td{
	border-top: 1px dashed;
	display: inline-block;
	width: 50%;
	height: 1.5em;
	line-height:1.5;
}
div.log tr:nth-child(odd)>td{
	background-color: gainsboro;
}
div.log tr:first-child>td{
	border: none;
}
#memoClearBtn{
	height: 100%;
	width: 100%;
}
#memoClearBtn>span{
	writing-mode: vertical-rl;
}
#memo{
	border: 1px solid black;
}
#ans{
	font-size: 16px;
	width: 100%;
	border: none;
	outline: none;
	padding-bottom: 8px;
	box-sizing: border-box; 
}
.underline{
	position: relative; 
	border-top: 3px solid #c2c2c2;
	z-index: -999;
}
.underline::before,
.underline::after{
	position: absolute; 
	bottom: 0px; 
	width: 0px; 
	height: 3px; 
	content: "";
	background-color: royalblue;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.underline::before{
	left: 50%; 
}
.underline::after{
	right: 50%;
}
#ans:focus + .underline::before,
#ans:focus + .underline::after{
	width: 50%;
}
#memoBtn{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.title{
	position: fixed;
	top:0;
	right: 0;
	width: 100%;
	height: 100%;
	background: gainsboro;
}
.wrapper{
	position: relative;
}
.button{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: skyblue;
	border-radius: 20px;
	box-shadow: 3px  3px 5px darkgray;
	padding: 20px 50px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.button:hover{
	background: deepskyblue;
}
.button:active{
	transform: translate(-50%,10%);
	box-shadow: 0px 0px;
}
div.title-center{
	position: relative;
	margin-top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 30%;
}
#duplicate{
	width: auto;
}
.mono{
	font-family: monospace;
}
#setsumei{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 30%;
}
h3,
h4{
	display: flex;
	align-items: center;
}
h3::before,
h4::before{
	margin-right: 1em;
}
h3::after,
h4::after{
	margin-left: 1em;
}
h3::before,
h3::after{
	content: "～";
	flex-grow: 1;
	text-align: center;
}
h4::before,
h4::after{
	content: '';
	flex-grow: 1;
	height: .1em;
	background: black;
}
h5{
	margin: 0;
}
.content>div>div{
	display: inline-block;
	vertical-align: top;
}
#closeArea{
	position: relative;
	/*text-align: center;*/
	color: black;
	padding-left: 30%;
	padding-right: 32%;
	padding-top: 13%;
	padding-bottom: 15%;
	text-decoration: none;
}
.closeBtn{
	position: relative;
	left: 40%;
	width: 30%;
	height: 14%;
	background-color: gainsboro;
	border-radius: 4px;
	border-bottom: solid 5px silver;
	transition: all 0.5s 0s ease;
}
.closeBtn:hover{
	transform: translateY(5px);
	border-bottom: none;
}
.content{
	overflow: scroll;
	height: 80%;
	width: 100%;
	margin: 10px;
	margin-right: 20px;
}
html::-webkit-scrollbar-thumb{
	background-color: blue;
	background-image: url("768.png");
	border-radius: 5px;
}